body {
    line-height: 1.6;
    font-weight: 400;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #1f2630;
    font-size: 1rem;
    color: #7fafdf;
    margin: 0;
}
#slider-text, #chart-selector {
    margin-bottom: 2rem !important;
    font-size: 2rem;
}

@media (min-width: 1251px) {
    /*For desktop*/
    #app-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        height: 70rem;
        margin-bottom: 5rem;
    }
}

#slider-container {
    background-color: #252e3f;
    padding: 0 1rem 1rem 1rem;
    align-content: center;
    height: 5rem;
}

#root {
    margin: 1%;
}

.card {
    margin-bottom: 24px;
}


@media (min-width: 1251px) {
    /*For desktop*/
    #left-column {
        margin-right: 1.5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        flex: 6 60%;
    }
}

@media (min-width: 1251px) {
    #heatmap-container {
        flex-grow: 1;
        display: block;
        flex-direction: column;
        justify-content: right;
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 1251px) {
    /*For desktop*/

    #header p {
        font-size: 1.5rem;
    }

    #graph-container {
        flex: 4 40%;
        color: #7fafdf;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    #predict_house_price_container {
        flex: 4 40%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    #selected-data {
        flex-grow: 1;
    }
}
.parent {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex-grow: 1;
}

.plot{
    display: flex;
    width: 50%
}

.app__header__title {
    letter-spacing: 0.23rem;
    color: #fff !important;
}

.app__header__title--grey {
    color: #C4CDD5;
}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 5px 25px 0px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #7fafdf;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgba(127, 175, 223, 0.24);
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.center{
    margin: 25px auto;
}

@media screen and (max-width: 1200px) {
  .parent{
    flex-direction: column;
  }
  .plot{
    width: 100%
  }
}